.glass-elem {
  --corner-radius: var(--radius-course-elem);
  --base-strength: 8px;
  --extra-blur: 4px;
  --softness: 12px;
  --tint-amount: 0;
  --tint-saturation: 0;
  --tint-hue: 0deg;
  --contrast: 1;
  --brightness: 1;
  --invert: 0%;
  --total-strength: calc(var(--base-strength) + var(--extra-blur));
  --edge-width: calc(0.3px + (var(--softness) * 0.1));
  --emboss-width: calc((var(--softness) * 0.38));
  --refraction-width: calc((var(--softness) * 0.3));
  position: relative;
  overflow: visible;
  width: fit-content;
  padding: var(--padding-course-elem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-course-elem);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;

  &__content {
    position: relative;
    display: block;
    z-index: 100;
    overflow: hidden;
    pointer-events: auto;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: inherit;
  }

  &__material {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: visible;
    pointer-events: none;
  }
  &__material::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: var(--corner-radius);
    background-color: rgba(255, 255, 255, 0.04);
  }

  &--completed &__material::after {
    background:
      linear-gradient(rgba(88, 103, 203, 0.32), rgba(88, 103, 203, 0.32)),
      linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
  }

  &--in-progress &__material::after {
    background:
      linear-gradient(rgba(228, 13, 124, 0.2), rgba(228, 13, 124, 0.2)),
      linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
  }

  &__material > div {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    border-radius: var(--corner-radius);
    z-index: 2;
    overflow: hidden;
  }

  &__material::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 11;
    display: block;
    border-radius: var(--corner-radius);
    padding: 1px;
    border: 0 solid transparent;
    background: linear-gradient(210deg, hsla(0, 0%, 100%, 0.4) 0%, hsla(0, 0%, 0%, 0.2) 50%, hsla(0, 0%, 100%, 0.25) 100%);
    backdrop-filter: invert(0.15) opacity(1);
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
  }

  &__highlight {
    z-index: 12;
    display: block;
    border-radius: var(--corner-radius);
    padding: 1px;
    border: 0 solid transparent;
    backdrop-filter: brightness(1.2) contrast(1.6) saturate(1.2) opacity(1);
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
  }
}
