header {
  padding-top: 3.75rem;

  h3,
  h1 {
    text-align: center;
  }

  h3 {
    font-size: var(--font-size-welcome);
    font-weight: var(--font-weight-bold);
  }

  h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
  }
}

main {
  padding: 5rem 0 3.75rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cert {
    padding: var(--padding-cert);
    border-radius: var(--radius-cert);
    font-size: var(--font-size-cert);
    font-weight: var(--font-weight-medium);
    background: rgba(255, 233, 64, 0.4);
  }

  .row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1.25rem;
    align-items: center;

    &:has(> .row__half):not(:has(> app-glass-elem)) {
      grid-template-columns: 1fr 1fr;
    }

    >app-glass-elem {
      grid-column: 2;
      justify-self: center;
    }

    >.link-elem {
      border-radius: 0 !important;
    }

    &__half {
      display: flex;
      gap: 1.25rem;

      &--left {
        justify-content: flex-end;
      }

      &--right {
        justify-content: flex-start;
      }
    }
  }

  .arrow-row {
    display: flex;
    justify-content: center;

    &__left,
    &__right {
      display: grid;

      .arrow {
        grid-area: 1 / 1;
      }
    }

    &__left .arrow {
      justify-self: end;
    }

    &__right {
      margin-left: -1px;

      .arrow {
        justify-self: start;
      }
    }
  }
}