header {
  padding-top: 3.75rem;

  h3, h1 {
    text-align: center;
  }
    
  h3 {
    font-size: var(--font-size-welcome);
    font-weight: var(--font-weight-bold);
  }
    
  h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
  }
}

main {
  padding: 5rem 0 3.75rem 0;
}
