.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1.25rem;
  align-items: center;

  &:has(> .row__half):not(:has(> app-glass-elem)) {
    grid-template-columns: 1fr 1fr;
  }

  >app-glass-elem {
    grid-column: 2;
    justify-self: center;
  }

  >.link-elem {
    border-radius: 0 !important;
  }

  &__half {
    display: flex;
    gap: 1.25rem;

    &--left {
      justify-content: flex-end;
    }

    &--right {
      justify-content: flex-start;
    }
  }
}

.arrow-row {
  display: flex;
  justify-content: center;

  &__left,
  &__right {
    display: grid;

    .arrow {
      grid-area: 1 / 1;
    }
  }

  &__left .arrow {
    justify-self: end;
  }

  &__right {
    margin-left: -1px;

    .arrow {
      justify-self: start;
    }
  }
}
