:root {
  /* Colors */
  --color-text: #FFFFFF;
  --color-dev-modal: #100138;
  --color-tech-modal: #3F004E;

  /* Font Family */
  --font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /* Font Sizes */
  --font-size-welcome: 1.5rem;
  --font-size-title: 3rem;
  --font-size-course-elem: 1.5rem;
  --font-size-cert: 1.25rem;
  --font-size-course-status: 1rem;
  --font-size-course-title-1: 2rem;
  --font-size-course-description: 1rem;
  --font-size-course-title-2: 1.5rem;
  --font-size-course-platform: 0.75rem;
  --font-size-course-link: 0.875rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Padding */
  --padding-course-elem: 0.6rem 1.875rem 0.9rem 1.875rem;
  --padding-cert: 0.4rem 1.875rem 0.7rem 1.875rem;

  /* Border Radius */
  --radius-course-elem: 1.25rem;
  --radius-cert: 3rem;
  --radius-link-elem: 1rem;
  --radius-course-status: 1.25rem;
  --radius-course-platform: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color-text);
}

img {
  user-select: none;
}

body {
  background-image: url('/images/backgrounds/bg-dev.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
