:root {
  /* Colors */
  --color-text: #FFFFFF;
  --color-course-elem: rbga(255, 255, 255, 0.04);
  --color-course-completed: rgba(88, 103, 203, 0.32);
  --color-course-in-progress: rgba(228, 13, 124, 0.2);
  --color-dev-modal: #100138;
  --color-tech-modal: #3F004E;

  /* Font Family */
  --font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /* Font Sizes */
  --font-size-welcome: 1.5rem;
  --font-size-title: 3rem;
  --font-size-course-elem: 1.5rem;
  --font-size-course-status: 1rem;
  --font-size-course-title-1: 2rem;
  --font-size-course-description: 1rem;
  --font-size-course-title-2: 1.5rem;
  --font-size-course-platform: 0.75rem;
  --font-size-course-link: 0.875rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --radius-course-elem: 1.25rem;
  --radius-course-status: 1.25rem;
  --radius-course-platform: 0.5rem;
  --radius-full: 9999px;
}
